{% extends 'base.html' %}

{% block content %}
<style>
  .contact-img-con {
    height: 250px !important;
  }

  .about-head {
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .nav-link {
    color: gray !important;
  }

  .link7 {
    color: black !important;
  }
</style>
<main class="container-fluid">
  <div class="jumbotron mx-2 contact-img-con"></div>
  <div class="jumbotron p-1 bg-transparent d-flex flex-wrap justify-content-between align-items-center">
    <div class="jumbotron bg-transparent mb-0 rounded-0 col-sm-7"> 
      <h2 class="font-weight-bold text-italic">Lorem ipsum dolor sit amet consectetur.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa suscipit beatae nobis unde recusandae, vero
        dignissimos. Facere modi recusandae sit fugiat quos autem, accusamus, vel facilis qui perferendis harum
        distinctio
        saepe repellendus dignissimos omnis laudantium asperiores blanditiis explicabo incidunt nemo rem dolor. Dolore
        voluptatum cupiditate sit ut libero esse, quibusdam voluptate facilis saepe cum eligendi, atque corporis dolorem
        assumenda unde quis deserunt maiores et quaerat quidem odio. Eum, ad possimus. Architecto sit nemo animi ullam
        ipsum
        distinctio et! Voluptatum sit molestias repellat, commodi distinctio sint eius, expedita mollitia quasi, iste
        unde
        aut necessitatibus cumque. Laudantium adipisci eligendi itaque animi tempore?</p>

    </div>

    <div class="jumbotron bg-transparent mb-0 p-2 col-sm-4">
      <div class="list-group p-5 border">
        <li class="list-group-item shadow-0 mb-1 p-1 border-0"><i class="fa fa-phone"></i>
          <h6 class="m-0 d-inline font-weight-bold">Phone</h6>
        </li>
        <li class="list-group-item shadow-sm mb-3 border rounded list-group-item-action px-2 py-2">
          <h6 class="m-0 d-inline font-weight-normal">081234567890</h6>
        </li>
        <li class="list-group-item shadow-0 mb-1 p-1 border-0"><i class="fa fa-at"></i>
          <h6 class="m-0 d-inline font-weight-bold">Mail</h6>
        </li>
        <li class="list-group-item shadow-sm mb-3 border rounded list-group-item-action px-2 py-2">
          <h6 class="m-0 d-inline font-weight-normal">dbm@gmail.com</h6>
        </li>
        <li class="list-group-item shadow-0 mb-1 p-1 border-0"><i class="fa fa-envelope"></i>
          <h6 class="m-0 d-inline font-weight-bold">Text message</h6>
        </li>
        <li class="list-group-item shadow-sm mb-3 border rounded list-group-item-action px-2 py-2">
          <h6 class="m-0 d-inline font-weight-normal">0901234567890</h6>
        </li>
        <li class="list-group-item shadow-0 mb-1 p-1 border-0"><i class="fa fa-map-marker-alt"></i>
          <h6 class="m-0 d-inline font-weight-bold">Address</h6>
        </li>
        <li class="list-group-item shadow-sm mb-3 border rounded list-group-item-action px-2 py-2">
          <h6 class="m-0 d-inline font-weight-normal">69 Creek Road, Feggae, Onitsha</h6>
        </li>
      </div>
    </div>
  </div>
</main>
{% endblock %}