{% extends 'base.html' %}

{% block content %}
<style>
  .days-img-con {
    height: 0px !important;
    /* display: ; */
    /* visibility: hidden; */
    /* width: 80%; */
  }

  .about-head {
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .nav-link {
    color: gray !important;
  }

  .link3 {
    color: black !important;
  }
</style>
<div class="container p-2">
  <div class="jumbotron mx-2 days-img-con"></div>
  <div class="jumbotron p-0 bg-transparent">

    <table class="table mb-0 table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          
          <th scope="col">
            <p class="m-0">Days</p>
          </th>
          <th scope="col">
            <p class="m-0">Activities</p>
          </th>
          <th scope="col">
            <p class="m-0">Time</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Tuesdays</p>
          </td>
          <td>
            <p>Pre-service counselling,Prayer Day</p>
          </td>
          <td>
            <p>8am - 4pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Wednesdays</p>
          </td>
          <td>
            <p>Counselling continued</p>
          </td>
          <td>
            <p>8am - 5pm</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3rd Fridays</p>
          </td>
          <td>
            <p>Power Night</p>
          </td>
          <td>
            <p>10pm - 6am</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<main class="container">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa suscipit beatae nobis unde recusandae, vero
    dignissimos. Facere modi recusandae sit fugiat quos autem, accusamus, vel facilis qui perferendis harum distinctio
    saepe repellendus dignissimos omnis laudantium asperiores blanditiis explicabo incidunt nemo rem dolor. Dolore
    voluptatum cupiditate sit ut libero esse, quibusdam voluptate facilis saepe cum eligendi, atque corporis dolorem
    assumenda unde quis deserunt maiores et quaerat quidem odio. Eum, ad possimus. Architecto sit nemo animi ullam ipsum
    distinctio et! Voluptatum sit molestias repellat, commodi distinctio sint eius, expedita mollitia quasi, iste unde
    aut necessitatibus cumque. Laudantium adipisci eligendi itaque animi tempore?</p>
</main>
{% endblock %}