{% extends 'base.html' %}

{% block content %}

<style>
.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
  grid-template-rows: auto;
}

.grid-item {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
   cursor: pointer;
    transition: all 0.9s;
}

.grid-item:hover{
  transform: scale(1.1);
  box-shadow: 3px 7px 19px black !important;
  z-index: 5;
  /* border: none !important; */
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 5;
}

.item2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.item3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 3;
}

.item4 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 3;
}
/* .item5 {
  grid-column: 3 / span 1;
  grid-row: 4/span 2;
} */
</style>
<div class="container-fluid p-5">
  <div class="jumbotron bg-transparent shadow-0 border p-3 rounded-lg">
    <h4 class="font-weight-normal text-center">Our Ministers and Workers</h4>
  </div>

  <div class="grid-container">
    {% load staticfiles %}
  <div class="shadow-lg border p-2 grid-item item1">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:92%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item2">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:88%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item3">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:80%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item4">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:80%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item5">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:80%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item6">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:80%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item7">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:80%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
  <div class="shadow-lg border p-2 grid-item item8">
    <img class="img-fluid mx-0" src="{% static 'imgs/TB-Joshua-2.jpg' %}" style="width: 100%; height:80%;"><h6 class="m-2 p-0 text-left">Snr. Prophet TB Joshua,<br><span class="text-muted">General Overseer</span></h6></div>
</div>
</div>
{% endblock %}