{% extends 'base.html' %}

{% block content %}
<style></style>
<main class="container">

<h3 class="text-center about-head mt-lg-4">PRODUCTS</h3>

<div class="jumbotron bg-transparent border">
  <div class="d-flex flex-wrap justify-content-start align-items-start">
    <div class="jumbotron shadow-sm col-lg-4" style="min-height: 50vh;"></div>
    <dl class="col-lg-8">
      <dt><h3>Annointing Oil <i>(Obara Emma)</i></h3></dt>
      <dd>
        <p><span class="font-weight-bold"><h5 class="d-inline-block">Descripiton:</h5></span> A free, open source, cross-platform,
          graphical web browser developed by the
          Mozilla Corporation and hundreds of
          volunteers.
        </p>
        <p><span class="font-weight-bold"><h5 class="d-inline-block">Usage:</h5></span> A free, open source, cross-platform,
          graphical web browser developed by the
          Mozilla Corporation and hundreds of
          volunteers.
        </p>
        <p><span class="font-weight-bold"><h5 class="d-inline-block">Price:</h5></span><br>
          N1000 per bottle <br>
          N11000 per dozen <br>
          N22000 per Carton <br>
        </p>
        <button class="btn btn-success border-0">Get Annointing Oil</button>
      </dd>
      <!-- Other terms and descriptions -->
    </dl>
  </div>
</div>
</main>
{% endblock %}