<!DOCTYPE html>
<html lang="en">

<head>
  <title>DBSAM</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load staticfiles %}
  <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/background-style.css' %}" rel="stylesheet" type="text/css" />

  <!-- bootstrap js-->
  <!-- <script src="movies/bootstrap/js/bootstrap.js"></script> -->

  <style>
    body {
      font-size: 100%;
      overflow-x: hidden;
    }

    .nav2 {
      z-index: 10;
    }

    .hero {
      /* top: -62px !important; */
      height: 74vh;
      position: relative;
    }

    textarea {
      resize: none;
    }


    .page-item {
      padding: 0px;
      font-size: 90%;
    }

    .powered span a:hover {
      color: skyblue !important;
    }

    @media screen and (max-width:1024px) {
      .nav2 {
        width: 100% !important;
        /* margin: 0px !important; */
      }
    }

    @media screen and (max-width:425px) {
      body {
        font-size: 90% !important;
      }

      .navbar-collapse {
        padding: 8px;
      }

      .disclaimer {
        font-size: 0.623rem;
      }

      .powered {
        text-align: center !important;
        font-size: 0.8rem;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
    <a class="navbar-brand ml-sm-4 font-weight-bold text-uppercase" href="{% url 'home:home' %}">DBSAM </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-sm-3">
          <a class="nav-link" href="#">Calendar</a>
        </li>
        <li class="nav-item mx-sm-3">
          <button class="btn btn-outline-success px-4" tabindex="-1" onclick="showDonate()">Donations</button>
        </li>
      </ul>
    </div>
  </nav>
  <main class=" container-fluid pb-5 px-0 mb-5 mt-0 pt-0">
    <nav class="navbar navbar-expand-lg rounded-0 mt-0 pt-0 navbar-light nav2">
      <div class="collapse navbar-collapse bg-white mx-auto mt-0 py-2 shadow-sm" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-sm-4 active">
            <a class="nav-link link1" href="{% url 'home:home' %}">Home <span class="sr-only">(Current)</span></a>
          </li>
          <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link2" href="{% url 'aboutministry:about' %}">About Us <span class="sr-only"></span></a>
          </li>
          <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link3" href="{% url 'days:days' %}">Days of activities <span class="sr-only"></span></a>
          </li>
          <!-- <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link4" href="#">Sermons <span class="sr-only"></span></a>
          </li> -->
          <!-- <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link5" href="#">Gallery <span class="sr-only"></span></a>
          </li> -->
          <!-- <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link6" href="#">Ministers <span class="sr-only"></span></a>
          </li> -->
          <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link7" href="{% url 'contact:contact' %}">Contact <span class="sr-only"></span></a>
          </li>
          <li class="nav-item mx-sm-3 text-capitalize">
            <a class="nav-link link8" href="{% url 'announcements:announcements' %}">Announcements <span
                class="sr-only"></span></a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="modal fade" id="donate_modal" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="donateModalLabel">Donate to Dry Bone shall Rise Again Ministries</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Our Ministry is on a heavenly mission to preach the gospel, bring deliverance in the
              name of Jesus Christ, set the captives free and
              improve the general wellbeing of the whole world through the gospel of Jesus Christ.<br><br>

              You can join our global cause by donating to the accounts below:<br>
              <span class="font-weight-bold">DBSAM International: 8683597307[Fidelity Bank] </span><br><br>
              <span class="font-weight-bold">DSAM Children Scholarship: 542625846547 [Access Bank] </span><br><br>
              <span class="font-weight-bold">DSAM Church Development: 635654727948 [Zenith Bank] </span><br><br>
            </p>

            <!-- <p>You can reach us by the numbers on our contact page or by calling 0812345677</p> -->
          </div>
          <div class="modal-footer">
            <h6 class="text-danger font-weight-normal">Do all online donations through the Account numbers provided on our website.<br>
              Note: Our ministers will NEVER
              call you to ask for money or ask for aid, report all
              suspicious actions on 08123456788</h6>
          </div>
        </div>
      </div>
    </div>
    {% block content %} {% endblock %}
  </main>


  <div class="jumbotron bg-light rounded-0 m-0 col-12 p-1 d-flex flex-column justify-content-center align-items-center">
    <div class="col-sm-12">
      <div>
        <p class="mb-0 text-black text-center">
          © 2020 <span class="text-secondary">DBSAM</span>. All rights
          reserved
        </p>
        <p class="mb-0 text-secondary text-sm-right powered">
          Powered by
          <span><a class="text-dark" target="_blank"
              href="http://www.ParallelInfiniti.com">ParallelInfiniti.com</a></span>
        </p>
      </div>
    </div>
  </div>

  {% load static %}
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js.download' %}" type="text/javascript"></script>
  <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>

</html>