{% extends 'base.html' %}

{% block content %}
<style>
  .box-mark {
    position: relative;
    left: -15px;
  }

  .boxes {
    cursor: pointer;
    transition: all 0.9s;
  }

  .boxes:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width:1024px) {
    .event-block {
      flex-wrap: wrap;
    }

    .upnext-con {
      /* border: 1px solid red; */
      border-bottom: 3px solid green;
      width: 100%;
      margin: 5px !important;
    }

    .detail-con {
      /* border: 1px solid red; */
      width: 45%;
      margin: 5px !important;
      text-align: center;
    }

    .timer-con {
      /* border: 1px solid red; */
      width: 55%;
      margin: 5px !important;
    }

    .timer-con .jumbotron {
      margin: 0px !important;
    }

    .all-events-con {
      /* border: 1px solid red; */
      width: 15%;
      margin: 5px !important;
    }
  }

  @media screen and (max-width:768px) {
    .upnext-con {
      width: 110%;
    }

    .detail-con {
      width: 55%;
    }

    .timer-con {
      width: 50%;
    }

    .timer-con .jumbotron {
      margin: 0px !important;
    }

    .all-events-con {
      width: 30%;
    }

    .row {
      width: 100% !important;
    }
  }

  @media screen and (max-width:425px) {

    .upnext-con {
      width: 110%;
    }

    .detail-con {
      width: 90%;
    }

    .timer-con {
      width: auto;
    }

    .timer-con .jumbotron {
      width: 100%;
      margin: 4px !important;
    }

    .all-events-con {
      width: auto;
    }

    .row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin: 0px;
    }

    .row .jumbotron {
      width: 85%;
      margin-bottom: 40px !important;
    }
  }
</style>


<main class="container-fluid px-0">
  <div class="rounded-0 p-0 mb-0 mx-0 hero d-flex justify-content-center align-items-center">
    <div
      class="overlayed d-flex justify-content-center align-items-center d-flex justify-content-center align-items-center">
      <h1 class="font-italic lead col-lg-8 col-md-8 text-light text-center text-capitalize">Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Laboriosam, voluptate. A, suscipit.</h1>
    </div>
  </div>

  <div class="jumbotron rounded-0 mx-auto p-3 d-flex justify-content-center align-items-center event-block">
    <div class="d-flex justify-content-start align-items-center p-1 bg-transparent mx-sm-5">
      <i class="fab fa-user"></i>
      <div class="upnext-con">
        <span class="text-uppercase bg-success px-2 rounded-sm text-white">Next</span>
        <h6 class="text-uppercase m-0">Upcoming event</h6>
      </div>
    </div>

    <div class="bg-transparent mx-sm-5 p-1 detail-con">
      <h4 class="mb-0">Lorem ipsum dolor sit amet.</h4>
      <span class="text-dark font-weight-normal fo1t-italic">12th May, 2021</span>
    </div>

    <div class="bg-transparent mx-sm-5 p-1 d-flex justify-content-around align-items-center timer-con">
      <div class="jumbotron mx-sm-3 m-0 p-0 shadow-sm bg-white rounded-0">
        <div class="jumbotron p-1 m-0 rounded-0 bg-secondary">
          <p class="font-weight-bold m-0 text-center text-white">20</p>
        </div>
        <div class="jumbotron p-0 px-1 m-0 rounded-0 bg-transparent"><span>Days</span></div>
      </div>
      <div class="jumbotron mx-sm-3 m-0 p-0 shadow-sm bg-white rounded-0">
        <div class="jumbotron p-1 m-0 rounded-0 bg-secondary">
          <p class="font-weight-bold m-0 text-center text-white">20</p>
        </div>
        <div class="jumbotron p-0 px-1 m-0 rounded-0 bg-transparent"><span>Hours</span></div>
      </div>
      <div class="jumbotron mx-sm-3 m-0 p-0 shadow-sm bg-white rounded-0">
        <div class="jumbotron p-1 m-0 rounded-0 bg-secondary">
          <p class="font-weight-bold m-0 text-center text-white">20</p>
        </div>
        <div class="jumbotron p-0 px-1 m-0 rounded-0 bg-transparent"><span>Mins</span></div>
      </div>
      <div class="jumbotron mx-sm-3 m-0 p-0 shadow-sm bg-white rounded-0">
        <div class="jumbotron p-1 m-0 rounded-0 bg-secondary">
          <p class="font-weight-bold m-0 text-center text-white">20</p>
        </div>
        <div class="jumbotron p-0 px-1 m-0 rounded-0 bg-transparent"><span>Secs</span></div>
      </div>
    </div>
    <div class="all-events-con">
      <button class="btn btn-outline-dark text-uppercase">See Event details</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div
      class="jumbotron minister-box boxes bg-white border mx-sm-3 mb-0 px-2 py-2 col-sm-3 shadow-sm rounded-0 d-flex flex-column justify-content-end align-items-start"
      style="min-height: 250px;">
      <h5 class="m-0 bg-success text-white p-1 px-sm-3 box-mark">Our Ministers</h5>
    </div>
    <div class="jumbotron sermon-box boxes bg-white border mx-sm-3 mb-0 px-2 py-2 col-sm-3 shadow-sm rounded-0 d-flex
      flex-column justify-content-end align-items-start" style="min-height: 250px;">
      <h5 class="m-0 bg-success text-white p-1 px-sm-3 box-mark">Sermons</h5>
    </div>
    <div class="jumbotron gallery-box boxes bg-white border mx-sm-3 mb-0 px-2 py-2 col-sm-3 shadow-sm rounded-0 d-flex
      flex-column justify-content-end align-items-start" style="min-height: 250px;">
      <h5 class="m-0 bg-success text-white p-1 px-sm-3 box-mark">Gallery</h5>
    </div>

  </div>

</main>
{% endblock %}